{% extends 'base.html' %}
{% block title%}
    Edit profile page
{% endblock %}
{% block content %}
    {% if user.is_authenticated and user.id == profile.user.id %}
        <h1>Edit profile page</h1>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">Update profile</button>
            </form>
        </div>
    {% else %}
        you are not allowed here
    {% endif %}

{% endblock %}