{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ page_user }}'s Profile
{% endblock %}
{% block content %}
    {% if page_user %}
        <h1>{{ page_user }}'s Profile</h1>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
                {% if page_user.profile_pic %}
                    <img src="{{ page_user.profile_pic.url }}" class="card-img" alt="...">
                {% else %}
                    <img src="{% static 'images/default.png' %}" class="card-img" alt="...">
                {% endif %}
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="small text-muted">
                    {% if page_user.facebook_url %}
                        <a href="{{ page_user.facebook_url }}" >Facebook</a> |
                    {% endif %}
                    {% if page_user.linkedin_url %}
                        <a href="{{ page_user.linkedin_url }}" >Linkedin</a> |
                    {% endif %}
                    {% if page_user.github_url %}
                        <a href="{{ page_user.github_url }}" >Github</a>
                    {% endif %}
                </p>
                <p class="card-text">{{ page_user.bio }}</p>
              </div>
            </div>
          </div>
        </div>
    {% else %}
        <h1>NOT available</h1>
    {% endif %}

{% endblock %}