{% extends 'base.html' %}
{% block title%}
    Update post
{% endblock %}
{% block content %}
    {% if user.is_authenticated and user == post.author %}
        <div class="jumbotron">
            <h1>Update post</h1>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    {% else %}
        <h1>You are not allowed here!</h1>
    {% endif %}

{% endblock %}